.profile_row {
  display: flex;
  padding-top: 0.25rem;
  align-items: center;
}
.customHeaderPg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.formRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-right: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.userProfilePg {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  row-gap: 1rem;
}
.userProfilePg b {
  width: 12%;
}
.profileRow {
  background-color: aliceblue;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}
.viewProfile {
  display: flex;
  padding: 1.5rem 4rem 0rem 1.5rem;
  justify-content: space-between;
}
.viewProfile h4 {
  color: grey;
}
.viewProfile p {
  font-weight: 600;
  padding-bottom: 4px;
}
.innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.innerDiv h3 {
  font-weight: bold;
  color: grey;
}
.datePicker {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main-page input[type="date"] {
  font-size: 1rem;
  padding: 1px 16px 1px 16px;
  width: 100%;
  color: #a8a8a8;
  outline: none;
  border: 1px solid #d3d3d3;
  background: #ffffff;
}
.main-page input[type="date"]:focus {
  border-color: #337ab7;
}
.datePicker input[type="text"] {
  padding-top: 19px;
  padding-bottom: 19px;
}
.add-membership-footer {
  display: flex;
  justify-content: center;
}
.add-membership-footer button {
  margin-left: 1rem;
}
.alignRight {
  display: flex;
  justify-content: right;
}
.alignRight p {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}
.historyHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historyHeading h5 {
  font-weight: bold;
}
.historyAmount {
  padding: 8px 0;
  display: flex;
}
.historyAmount p {
  color: grey;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
